<div class="section">
    
       
        <p>Name: {{dataSource.firstName}} {{dataSource.middleName}} {{dataSource.lastName}}</p>
        <p>Date of Birth: {{dataSource.dob}}</p>
        <p>Gender: {{dataSource.gender}}</p>
        <p>SSN: {{dataSource.ssn}}</p>
        <p>Cellphone: {{dataSource.cellphone}}</p>
        <p>AlternatePhone: {{dataSource.alternatePhone}}</p>
        <p>AddressLine1: {{dataSource.addressLine1}}</p>
        <p>AddressLine2: {{dataSource.addressLine2}}</p>
        <p>City: {{dataSource.city}}</p>
        <p>StateAbbr: {{dataSource.stateAbbr}}</p>
        <p>StateName: {{dataSource.stateName}}</p>
        <p>ZipCode: {{dataSource.zipCode}}</p>
        <p>VisaType: {{dataSource.visaType}}</p>
        <p>VisaStartDate: {{dataSource.visaStartDate}}</p>
        <p>VisaEndDate: {{dataSource.visaEndDate}}</p>
        <p>VisaDocumentPath: {{dataSource.visaDocumentPath}}</p>
        <p>DriverLicense: {{dataSource.driverLicense}}</p>
        <p>DriverLicenseExpirationDate: {{dataSource.driverLicenseExpirationDate}}</p>
        <p>DriverLicenseDocumentPath: {{dataSource.driverLicenseDocumentPath}}</p>
        <p>Reference Name: {{dataSource.firstNameRef}} {{dataSource.middleNameRef}} {{dataSource.cellphoneRef}}</p>
        <p>Reference Cellphone: {{dataSource.cellphoneRef}}</p>
        <p>Reference Email: {{dataSource.emailRef}}</p>
        <p>Reference Relationship: {{dataSource.relationshipRef}}</p>
        <p>Reference AddressLine1: {{dataSource.addressLine1Ref}}</p>
        <p>Reference AddressLine2: {{dataSource.addressLine2Ref}}</p>
        <p>Reference City: {{dataSource.cityRef}}</p>
        <p>Reference StateAbbr: {{dataSource.stateAbbrRef}}</p>
        <p>Reference StateName: {{dataSource.stateNameRef}}</p>
        <p>Reference ZipCode: {{dataSource.zipCodeRe}}</p>
       
        <button  (click) = "approve()">Approve</button>
        <button  (click) = "reject()">Reject</button>
        
       
</div>
