<div class="section">
    
        <h1>Detail</h1>
        <p>Name: {{dataSource.firstName}} {{dataSource.middleName}} {{dataSource.lastName}}</p>
        <p>Date of Birth: {{dataSource.dob}}</p>
        <p>Gender: {{dataSource.gender}}</p>
        <p>SSN: {{dataSource.ssn}}</p>
        <p>Cellphone: {{dataSource.cellphone}}</p>
        <p>AlternatePhone: {{dataSource.alternatePhone}}</p>
        <p>AddressLine1: {{dataSource.addressLine1}}</p>
        <p>AddressLine2: {{dataSource.addressLine2}}</p>
        <p>City: {{dataSource.city}}</p>
        <p>StateAbbr: {{dataSource.stateAbbr}}</p>
        <p>StateName: {{dataSource.stateName}}</p>
        <p>ZipCode: {{dataSource.zipCode}}</p>
        <p>VisaType: {{dataSource.visaType}}</p>
        <p>VisaStartDate: {{dataSource.visaStartDate}}</p>
        <p>VisaEndDate: {{dataSource.visaEndDate}}</p>
        <p>VisaDocumentPath: {{dataSource.visaDocumentPath}}</p>
        <p>DriverLicense: {{dataSource.driverLicense}}</p>
        <p>DriverLicenseExpirationDate: {{dataSource.driverLicenseExpirationDate}}</p>
        <p>DriverLicenseDocumentPath: {{dataSource.driverLicenseDocumentPath}}</p>

        <h1>Reference Contact</h1>
        <p>Reference Name: {{dataSource.firstNameRef}} {{dataSource.middleNameRef}} {{dataSource.cellphoneRef}}</p>
        <p>Reference Cellphone: {{dataSource.cellphoneRef}}</p>
        <p>Reference Email: {{dataSource.emailRef}}</p>
        <p>Reference Relationship: {{dataSource.relationshipRef}}</p>
        <p>Reference AddressLine1: {{dataSource.addressLine1Ref}}</p>
        <p>Reference AddressLine2: {{dataSource.addressLine2Ref}}</p>
        <p>Reference City: {{dataSource.cityRef}}</p>
        <p>Reference StateAbbr: {{dataSource.stateAbbrRef}}</p>
        <p>Reference StateName: {{dataSource.stateNameRef}}</p>
        <p>Reference ZipCode: {{dataSource.zipCodeRe}}</p>

        <h1>Emergency Contact</h1>
        <div *ngFor="let e of dataSource.emergencyContact">
           <p>Name: {{e.firstName}} {{e.middleName}} {{e.lastName}}</p>
           <p>CellPhone: {{e.cellPhone}}</p>
           <p>Email: {{e.email}}</p>
           <p>RelationShip: {{e.relationship}}</p>
           <p>---------------------------------</p>
        </div>

        <form class="example-form">
              
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="..." name="comment" [(ngModel)]="comment"></textarea>
                </mat-form-field>
              </form>

        
        <button  (click) = "approve()">Approve</button>
        <button  (click) = "reject()">Reject</button>
        
       
</div>
