<div class="container mt-5"   *ngIf="isPermenent == false">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
    </div>
  
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"> ID</th>
          <th scope="col">Title</th>
          <th scope="col">Path</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of dataSource | filter:filterTerm">
          <td>{{d.id}}</td>
          <td>{{d.title}}</td>
          <td> <button class="btn btn-primary" (click)="viewFile(d.path)">View File</button></td>
        </tr>
      </tbody>
    </table>
    <form class="example-form">
              
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="..." name="comment" [(ngModel)]="comment"></textarea>
      </mat-form-field>
    </form>
          
            <button class="btn btn-primary" (click)="approve()">Approve</button>
            <button class="btn btn-danger" (click)="reject()">Reject</button>
          
  </div>

  <div   *ngIf="isPermenent == true">

    <h1>It is Completed</h1>
  </div>