

<div class="login-page">
    
        
    <div class="form">
      <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" class="login-form">

        <!-- interpolation data binding -->
        

        <strong>Your E-mail:</strong> {{email}}
        <br><br>
        <strong>Your Token:</strong>  {{token}}
        <br><br>

      

        <!-- Username && Password required from user -->
        
      <div>
        <label for="userNameBox"><strong>Username</strong></label>
        <input type="text" id="userNameBox" placeholder="*Username" name="userName" ngModel><br>

        <label for="passwordBox"><strong>Password</strong></label>
        <input type="text" id="passwordBox" placeholder="*Password" name="password" ngModel>
      </div>

      
    

        <button>Sign Up</button>
      </form>
    </div>
    
</div>
