

<div class="login-page">
    
  <app-file-upload></app-file-upload>

    <div class="form">
      <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost)" class="login-form" ngNativeValidate>


        <!-- Name -->
        <!-- fname && lname are required. mname can be null-->
        <input type="text" placeholder="*FirstName" required name="firstName" ngModel /> 
        <input type="text" placeholder="MiddleName" name="middleName" ngModel>
        <input type="text" placeholder="*LastName" required name="lastName" ngModel>

         <!-- Email -->
         <input type="text" placeholder="*Email" required name="email" ngModel>

        <!-- gender -->
        <input type="text" placeholder="*Gender" required name="gender" ngModel>

        <!-- Phone with validation-->
        <!-- CellPhone is required. AlternatePhone can be null-->
        <input type="tel" placeholder="*CellPhone" required name="cellphone" ngModel [pattern]="mobNumberPattern">
        <input type="tel" placeholder="AlternatePhone" name="alternatePhone" ngModel>

        <!-- SSN-->
        <input type="text" placeholder="*SSN" required name="ssn" ngModel>
        

        <!-- Date of Birth -->
        <input type="date" placeholder="*Date of Birth" required name="dob" ngModel>


        <!-- Address -->
        <!-- AddressLine1 is required. AddressLine2 can be null-->
        <input type="text" placeholder="*AddressLine1" required name="addressLine1" ngModel> 
        <input type="text" placeholder="AddressLine2" name="addressLine2" ngModel>

        <!-- zip code with validation -->
        <input type="text" placeholder="*Zip Code" required name="zipCode" ngModel pattern="[0-9]*">
 
        <!-- City -->
        <input type="text" placeholder="*City" required name="city" ngModel>

        <!-- State -->
        <input type="text" placeholder="*State" required name="stateAbbr" ngModel>

        <!-- Visa -->
        <input type="text" placeholder="*Visa Type" required name="visaType" ngModel>

        <!-- DriverLicense -->
        <input type="text" placeholder="DriverLicense (if Any)" name="driverlicense" ngModel>

        <!-- Emerygency Contact List* (at least one or multiple)-->
        <button type="button" (click)="addEmergencyContact()" style="margin-bottom: 15px;">Add Emerygency Contact</button>
        
        <div *ngFor="let contact of emergencyContact;let index = index;trackBy:trackByIndex;" >
          <input [(ngModel)]="emergencyContact[index].firstName" placeholder="First Name" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="emergencyContact[index].lastName" placeholder="Last Name" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="emergencyContact[index].middleName"placeholder="middle Name" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="emergencyContact[index].cellphone" placeholder="cellphone" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="emergencyContact[index].email" placeholder="email" [ngModelOptions]="{standalone: true}">
          <input [(ngModel)]="emergencyContact[index].relationship" placeholder="relationship" [ngModelOptions]="{standalone: true}">
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
    
</div>
