

<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="18">
            <mat-toolbar class="toolbar-div">Login Page</mat-toolbar>

        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" fxLayoutAlign="stretch" fxLayout="column" class="login-form">

            <mat-form-field>
                <input matInput type="username" placeholder="Username" name="userName" ngModel>
                <mat-icon aria-hidden="false">account_box</mat-icon>
            </mat-form-field>
        
            <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password" ngModel>
                <mat-icon aria-hidden="false">https</mat-icon>
            </mat-form-field>
            <button mat-raised-button type="submit" class="button-div">Login</button>

        </form>

    </mat-card>
</div>
